// Variables

// Transitions
$transition-base: .3s ease;

// Fonts
$font-source-sans: 'Source Sans Pro', sans-serif;

// Path
$path-img: '../img/';

// Colors
$color-grey: #6B7C93; 
$color-grey-dark: #32325D;
$color-black-lighter: #010101;
$color-light-blue: #D9FCFF;
$color-green: #99D979;
$color-green-light: #F6F9FC;
$color-green-one: #3DC281;
$color-green-two: #24B47E;
$color-white: #fff;
$color-black: #000;