section.description
    .container
        .row.border-bottom
            .col-md-6.border-right
                article.description__article
                    .description__icon
                        svg(width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M32.5 65C50.4493 65 65 50.4493 65 32.5C65 14.5507 50.4493 0 32.5 0C14.5507 0 0 14.5507 0 32.5C0 50.4493 14.5507 65 32.5 65Z" fill="#B9F4BC")
                            path(d="M32.0747 31.85C28.7299 30.965 27.6542 30.05 27.6542 28.625C27.6542 26.99 29.1424 25.85 31.6326 25.85C34.2554 25.85 35.2279 27.125 35.3163 29H38.5727C38.4695 26.42 36.9224 24.05 33.8428 23.285V20H29.4224V23.24C26.5639 23.87 24.2652 25.76 24.2652 28.655C24.2652 32.12 27.0796 33.845 31.1906 34.85C34.8743 35.75 35.611 37.07 35.611 38.465C35.611 39.5 34.889 41.15 31.6326 41.15C28.5972 41.15 27.4037 39.77 27.2417 38H24C24.1768 41.285 26.5933 43.13 29.4224 43.745V47H33.8428V43.775C36.7161 43.22 39 41.525 39 38.45C39 34.19 35.4195 32.735 32.0747 31.85Z" fill="#1BB978")

                    .description__title
                        span Resonable fees
                    .description__text
                        p Stripe is an always-improving toolchain that gains new features every month. Our world-class engineering team constantly iterates upon every facet of the Stripe stack. And from Apple Pay to Bitcoin, building on Stripe means you get early access to the latest technologies.
                    .description__link 
                        a(href="") Learn More <i class="fas fa-arrow-right arrow-icon"></i>
            .col-md-6
                article.description__article.margin-left
                    .description__icon
                        svg(width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M32.5 65C50.4493 65 65 50.4493 65 32.5C65 14.5507 50.4493 0 32.5 0C14.5507 0 0 14.5507 0 32.5C0 50.4493 14.5507 65 32.5 65Z" fill="#B9F4BC")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M32.5 21.75C26.3314 21.75 21.3182 26.7937 21.3182 33H26.9091L19.4545 40.5L12 33H17.5909C17.5909 24.7125 24.2627 18 32.5 18C35.4259 18 38.1468 18.8625 40.4391 20.325L37.7182 23.0625C36.1714 22.2188 34.3823 21.75 32.5 21.75ZM38.0909 33L45.5455 25.5L53 33H47.4091C47.4091 41.2875 40.7373 48 32.5 48C29.5741 48 26.8532 47.1375 24.5609 45.675L27.2818 42.9375C28.8286 43.7812 30.6177 44.25 32.5 44.25C38.6686 44.25 43.6818 39.2062 43.6818 33H38.0909Z" fill="#1BB978")
                    .description__title
                        span Easy verification
                    .description__text
                        p We help power 100,000+ businesses in 100+ countries and across nearly every industry. Headquartered in San Francisco, Stripe has 9 global offices and hundreds of people working to help transform how modern businesses are built and run.
                    .description__link 
                        a(href="") Learn More <i class="fas fa-arrow-right arrow-icon"></i>
        .row.border-bottom
            .col-md-6.border-right
                article.description__article
                    .description__icon
                        svg(width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M32.5 65C50.4493 65 65 50.4493 65 32.5C65 14.5507 50.4493 0 32.5 0C14.5507 0 0 14.5507 0 32.5C0 50.4493 14.5507 65 32.5 65Z" fill="#B9F4BC")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M19 33C19 25.272 25.258 19 32.986 19C40.728 19 47 25.272 47 33C47 40.728 40.728 47 32.986 47C25.258 47 19 40.728 19 33ZM21.8 33C21.8 39.188 26.812 44.2 33 44.2C39.188 44.2 44.2 39.188 44.2 33C44.2 26.812 39.188 21.8 33 21.8C26.812 21.8 21.8 26.812 21.8 33Z" fill="#13B675")
                            path(d="M34.25 26H32V34.5246L39.875 39L41 37.2525L34.25 33.459V26Z" fill="#13B675")
                    .description__title
                        span Quick transactions
                    .description__text
                        p Stripe is an always-improving toolchain that gains new features every month. Our world-class engineering team constantly iterates upon every facet of the Stripe stack. And from Apple Pay to Bitcoin, building on Stripe means you get early access to the latest technologies.
                    .description__link 
                        a(href="") Learn More <i class="fas fa-arrow-right arrow-icon"></i>
            .col-md-6
                article.description__article.margin-left
                    .description__icon
                        svg(width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M32.5 65C50.4493 65 65 50.4493 65 32.5C65 14.5507 50.4493 0 32.5 0C14.5507 0 0 14.5507 0 32.5C0 50.4493 14.5507 65 32.5 65Z" fill="#B9F4BC")
                            path(ill-rule="evenodd" clip-rule="evenodd" d="M34.1372 31.2902C32.377 32.6306 30.375 34.1551 30.375 38H34.625C34.625 35.6875 36.1359 34.3758 37.6866 33.0295C39.3212 31.6103 41 30.1528 41 27.4444C41 22.7789 37.1962 19 32.5 19C27.8038 19 24 22.7789 24 27.4444H28.25C28.25 25.1222 30.1625 23.2222 32.5 23.2222C34.8375 23.2222 36.75 25.1222 36.75 27.4444C36.75 29.3006 35.518 30.2387 34.1372 31.2902ZM30 46H34V42H30V46Z" fill="#13B675")
                    .description__title
                        span Instant support
                    .description__text
                        p We help power 100,000+ businesses in 100+ countries and across nearly every industry. Headquartered in San Francisco, Stripe has 9 global offices and hundreds of people working to help transform how modern businesses are built and run.
                    .description__link 
                        a(href="") Learn More <i class="fas fa-arrow-right arrow-icon"></i>
        .row
            .col-md-8.margin-auto
                article.description__article.description__article--center
                    .description__icon
                        svg(width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M32.5 65C50.4493 65 65 50.4493 65 32.5C65 14.5507 50.4493 0 32.5 0C14.5507 0 0 14.5507 0 32.5C0 50.4493 14.5507 65 32.5 65Z" fill="#B9F4BC")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M41.875 25.6667H40.3125V22.619C40.3125 18.4133 36.8125 15 32.5 15C28.1875 15 24.6875 18.4133 24.6875 22.619V25.6667H23.125C21.4062 25.6667 20 27.0381 20 28.7143V43.9524C20 45.6286 21.4062 47 23.125 47H41.875C43.5938 47 45 45.6286 45 43.9524V28.7143C45 27.0381 43.5938 25.6667 41.875 25.6667ZM32.5 39.381C30.7812 39.381 29.375 38.0095 29.375 36.3333C29.375 34.6571 30.7812 33.2857 32.5 33.2857C34.2188 33.2857 35.625 34.6571 35.625 36.3333C35.625 38.0095 34.2188 39.381 32.5 39.381ZM27.6562 25.6667H37.3438V22.619C37.3438 20.0133 35.1719 17.8952 32.5 17.8952C29.8281 17.8952 27.6562 20.0133 27.6562 22.619V25.6667Z" fill="#13B675")
                    .description__title.description__title--center
                        span Trusted by 2 million users
                    .description__text.description__text--center
                        p We believe that payments is a problem rooted in code, not finance. We obsessively seek out elegant, composable abstractions that enable robust, scalable, flexible integrations. 
                        

                    