section.res-description
    .container
        .row
            .col-md-8
                .res-description__desc
                    .res-description__item
                        .res-description__title.description__title
                            span Quick transactions
                        .res-description__texts
                            p Stripe is an always-improving toolchain that gains new features every month. Our world-class engineering team constantly iterates upon every facet of the Stripe stack. And from Apple Pay to Bitcoin, building on Stripe means you get early access to the latest technologies.
                            p We help power 100,000+ businesses in 100+ countries and across nearly every industry. Headquartered in San Francisco, Stripe has 9 global offices and hundreds of people working to help transform how modern businesses are built and run.
                            p We believe that payments is a problem rooted in code, not finance. We obsessively seek out elegant, composable abstractions that enable robust, scalable, flexible integrations.

                    .res-description__item
                        .res-description__title.description__title
                            span The best way to buy and sell cryptocurrency
                        .res-description__texts
                            p One of the main benefits of using Lorem Ipsum is that it can be easily generated, and it takes the pressure off designers to create meaningful text. Instead, they can focus on crafting the best website possible, and add in content after a page has been designed.
                            p Since the 1500’s, when a printer jumbled a gallery of type to create a type specimen book, Lorem Ipsum has been the industry standard for dummy text.
                            p Today, a variety of software can create random text that resembles Lorem Ipsum. For example, Apple’s Pages and Keynote software use scrambled placeholder text. And Lorem Ipsum is featured on Google Docs, WordPress, and Microsoft Office Word.
            .col-md-4
                .res-description__counter
                    .counter
                        .counter__title
                            span 10,000+
                        .counter__desc
                            span businesses
                    .counter
                        .counter__title
                            span 9
                        .counter__desc
                            span global offices
