footer.footer
    .footer__box
        .container
            .row
                .col-md-6
                    .footer__desc
                        .footer__title
                            span Buy Bitcoin with credit card
                        .footer__subtitle
                            span In just a few easy steps
                .col-md-6
                    .footer__btns
                        .footer__logobtn
                            button.footer__btn create logo account
                        .footer__buybtn
                            button.footer__btn buy now
    .container
        .footer__bottom
            .row
                .col-md-6
                    .footer__copyright
                        span © 2018 - All rights reserved
                .col-md-6
                    .footer__links
                        .footer__terms
                            a(href="") Terms of use
                        .footer__policy
                            a(href="") Privacy Policy