header.header
    .container
        .header__top
            .row
                .col-6
                    .header__title
                        span Changelly
                .col-6
                    .header__link
                        a(href="") Sing in <i class="fas fa-arrow-right arrow-icon"></i>
        .calc
            .row
                .col-md-6
                    .calc__desc
                        .calc__subtitle
                            span.calc__new New
                            span.calc__catch Catch mouse and gave it as a present chew the plant but stratch
                        .calc__title 
                            span Buy Bitcoin with Credit Card
                        .calc__text
                            span Catch mouse and gave it as a present chew the plant but scratch me there, elevator butt. Always ensure to lay down in such a manner that tail can lightly brush.
                        .calc__btn
                            a(href="") Create account
                .col-md-6
                    .calc__calculator.calculator
                        .calculator__title
                            span The best way to buy and sell cryptocurrency
                        .calculator__currency
                            .calculator__value $200
                            .calculator__select
                                img.calculator__icon(src="img/usa.png", alt="")
                                select(name="currency")
                                    option(value="usd") USD
                                    option(value="gbr") GBR
                                    option(value="uah") UAH
                        .calculator__result
                            span For
                                span 200 USD 
                                
                        .calculator__currency
                            .calculator__value 0.75454
                            .calculator__select
                                img.calculator__icon(src="img/BTC.png", alt="")
                                select(name="coin")
                                    option(value="btc") BTC
                                    option(value="ltc") LTC
                                    option(value="coi") COI
                        .calculator__button
                            a(href="" class="calculator__btn") Continue 
                            
