header.res-header
    .container
        .res-header__top
            .row
                .col-6
                    .res-header__title
                        span Changelly
                .col-6
                    .res-header__link
                        a(href="") Sing in <i class="fas fa-arrow-right arrow-icon"></i>
        .res-header__desc
            .row
                .col-md-7
                    .res-header__subtitle
                        span Reasonable fees
                    .res-header__text
                        p Catch mouse and gave it as a present chew the plant but scratch me there, elevator butt. Always ensure to lay down in such a manner that tail can lightly brush.
                .col-md-5
                    .res-header__icons
                        img(src="img/reasonable-icon.png", alt="")