section.users
    .container
        .row
            .col-md-6
                .users__item
                    .users__avatar
                        img(src="img/ava1.png", alt="")
                    .users__name
                        span Charlie Shrem
                    .users__text 
                        p Catch mouse and gave it as a present chew the plant but scratch me there, elevator butt. Always ensure to lay down in  such.
            .col-md-6
                .users__item
                    .users__avatar
                        img(src="img/ava2.png", alt="")
                    .users__name
                        span Bentley Bellinger
                    .users__text 
                        p Catch mouse and gave it as a present chew the plant but scratch me there, elevator butt. Always ensure to lay down in  such.
        .row
            .col-md-6
                .users__item
                    .users__avatar
                        img(src="img/ava3.png", alt="")
                    .users__name
                        span Paul Dishkant
                    .users__text 
                        p Catch mouse and gave it as a present chew the plant but scratch me there, elevator butt. Always ensure to lay down in  such.
            .col-md-6
                .users__item
                    .users__avatar
                        img(src="img/ava4.png", alt="")
                    .users__name
                        span Jessy Lazenby
                    .users__text 
                        p Catch mouse and gave it as a present chew the plant but scratch me there, elevator butt. Always ensure to lay down in  such.
                        
                    