.header {
    padding: 20px 0 209px;
    background: linear-gradient(152.11deg, #0FB786 0%, #B0DF77 100%);

    &__top {
        margin-bottom: 115px;
        color: $color-white;
    }

    &__title {
        font-weight: 900;
    }

    &__link {
        text-align: right;

        a {
            color: $color-white;
            text-decoration: none;
        }
    }
}

.calc {

    &__desc {
        width: 90%;
        padding-top: 34px;
    }


    &__subtitle {
        padding: 0 5px;
        margin-bottom: 50px;
        background-color: #88DAAE;
        border-radius: 10px;
        color: $color-white;
    }

    &__new {
        display: inline-block;
        padding: 0 5px;
        text-transform: uppercase;
        font-size: 13px;
        background-color: #28BD84;
        border-radius: 10px;

    }

    &__title {
        margin-bottom: 10px;
        font-size: 42px;
        color: $color-white;
    }

    &__text {
        max-width: 480px;
        margin-bottom: 63px;
        line-height: 28px;
        letter-spacing: 0.42px;
        color: $color-light-blue;
    }

    &__btn {
        width: 164px;
        font-size: 16px;

        a {
            display: block;
            padding: 7px 12px;
            font-weight: 700;
            letter-spacing: 1px;
            text-decoration: none;
            color: $color-green-two;
            background-color: $color-white;
            text-transform: uppercase;
            box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.5);
            border-radius: 4px;

            &:hover {
                background-color: $color-green-two;
                color: $color-white;
                transition: $transition-base;
            }
        }
    }
}

@media all and (max-width: 768px) {
    .header {
        padding-bottom: 50px;
        
        &__top {
            margin-bottom: 20px;
        }
    }

    .calc {


        &__desc {
            width: 100%;
            margin-bottom: 20px;
            text-align: -webkit-center;
        }

        &__calculator {
            
        }
    }
}